@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400&display=swap');

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 300;
}

ul {
  list-style: none;
}
li{
  list-style: none;
  font-weight: 300;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 16px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

body::-webkit-scrollbar {
  width: .6em;
  background-color: #ddd;
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 20, 147);
}

// Links
a{
    text-decoration: none;
    color:#000;
    cursor: pointer;
}
a:hover{
  color: rgb(255, 20, 147);
}
p{
    font-weight: 300;
    font-size: 1.1rem;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.icon:hover{
  color: rgb(255, 20, 147) !important;
}

// Typography
h1{
    font-size: 2.5rem;
    font-weight: 800;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.75rem;
}
h4{
    font-size: 1.5rem;
}
h5{
    font-size: 1.25rem;
}
h6{
    font-size: 1rem;
}

// Button
.btn{
  padding: .5rem .8rem;
  font-size: .9rem;
  border-radius:3px;
  font-weight: 400;
  cursor: pointer;
}

.btn-primary{
  border: none;
  box-shadow: rgb(255,20,147) 0px -1px 0px inset;
  background: rgb(255,20,147);
  color: #fff;
  font-weight: 300;
  font-size: .9rem;
}

::selection{
  background-color:rgba(255,20,147, 0.99);
}

// Icon
.icon{
  margin-right:5px;
}
.header-icon{
  color: #fff;
}
.calendar-icon{
  margin-left:10px;
}

.darkmode-toggle{
  margin-left:2rem;
  cursor: pointer;
}
.darkmode-toggle:hover{
  color:rgb(255, 20, 147);
}
.navbar-toggle{
  display: none;
}
.navbar-toggle svg{
  font-size: 2rem;
}

p span{
  padding: 2px 5px;
  border-radius: 4px;
  font-family: 'Roboto Mono', monospace;;
  font-weight:300;
}

.post p{
  margin-bottom:20px;
}
.post-body h2{
  margin-bottom:1.1rem;
  position: relative;
  align-self: flex-start;

  &::before{
    content: "";
    width: 101%;
    height: 16px;
    display: block;
    position: absolute;
    bottom: -7px;
    z-index: -1;
    background-color: #84ffb5;
  }
}

.post img{
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #eee;
  max-width: 100%;
}

.ck-editor__editable_inline{
  min-height: 400px;
}

.ck-content{
  width:70%;
  margin: 20px auto 0 auto;
  background-color: #fff;
  border: 1px solid #c4c4c4 !important;
}

.ck-toolbar{
  padding: 0 4.5% !important;
  border-radius: unset !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #c4c4c4;
  border-top: 1px solid #c4c4c4;
}

.post-icon{
  transform: translateY(3px);
  margin-right: 5px
}

.tox .tox-sidebar-wrap{
  width: 70%;
  margin: 0 auto;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.tox .tox-editor-container{
  padding-bottom: 0px;
}

.tox-tinymce{
  height:75% !important;
  border:none !important;
}

.tox .tox-statusbar{
  display:none !important;
}

.tox .tox-menubar{
  padding: 0 5% 0 5% !important;
}

.tox .tox-menubar+.tox-toolbar, .tox .tox-menubar+.tox-toolbar-overlord .tox-toolbar__primary{
  padding: 0 5% !important;
}

// Responsive Design
@media(max-width:1024px){
  .navbar{
    margin-top: -240px;
  }
  .navbar-active{
    margin-top: 0px;
  }
  .navbar-toggle{
    display: flex;
    align-items: center;
    padding: 10px 0;
  }

  .post-feed{
    padding: 70px 5% 70px 5%;
  }
  .post-item{
    flex-direction: column !important;
  }
  .post-title{
    font-size: 2rem;
  }
  .thumbnail{
    width:100% !important;
    height: 100% !important;
  }
  .preview{
    width:100% !important;
    margin-top: 20px;
  }
  .nav-links{
    flex-direction: column;
  }
  .search{
    margin-bottom: 20px;
  }

  // POST PAGE
  .content .post-feed{
    padding:70px 5% 70px 5% !important;
  }
  .blog-post .post-title{
    font-size: 2.5rem !important;
  }
  .content{
    .author-name{
      font-size: .9rem !important;
    }
    .post-icon svg{
      font-size: .9rem !important;
    }
    .post-body h2{
      font-size: 1.2rem;

      &::before{
        height: 12px;
        bottom: 0;
      }
    }
  }

  // DASHBOARD PAGE
  .dashboard-nav{
    flex-direction: column;
  }
}