@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400&display=swap');

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 300;
}

ul {
  list-style: none;
}
li{
  list-style: none;
  font-weight: 300;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 16px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

body::-webkit-scrollbar {
  width: .6em;
  background-color: #e8e8e8;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #0081ff;
}

// Links
a{
    text-decoration: none;
    color:#000;
    cursor: pointer;
}
a:hover{
  color: #037af0;
}
p{
    font-weight: 300;
    font-size: 1.1rem;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

// Typography
h1{
    font-size: 2.5rem;
    font-weight: 800;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.75rem;
}
h4{
    font-size: 1.5rem;
}
h5{
    font-size: 1.25rem;
}
h6{
    font-size: 1rem;
}

// Button
.btn{
  padding: .5rem .8rem;
  border: none;
  font-size: .9rem;
  border-radius:3px;
  cursor: pointer;
  box-shadow: #037af0 0px -1px 0px inset;
}

.btn-primary{
  background: -webkit-gradient(linear,left top,left bottom,from(#2d97ff),to(#0081ff));
  color:#fff;
}

// Icon
.icon{
  margin-right:5px;
}
.header-icon{
  color: #fff;
}
.calendar-icon{
  margin-left:10px;
}

p span{
  padding: 2px 5px;
  border-radius: 4px;
  font-family: 'Roboto Mono', monospace;;
  font-weight:300;
}

.post p{
  margin-bottom:20px;
}
.post-body h2{
  margin-bottom:1.1rem;
  position: relative;
  align-self: flex-start;

  &::before{
    content: "";
    width: 101%;
    height: 16px;
    display: block;
    position: absolute;
    bottom: -7px;
    z-index: -1;
    background-color: #84ffb5;
  }
}

.post img{
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #eee;
  max-width: 100%;
}

.ck-editor__editable_inline{
  min-height: 400px;
}

.ck-content{
  width:70%;
  margin: 20px auto 0 auto;
  background-color: #fff;
  border: 1px solid #c4c4c4 !important;
}

.ck-toolbar{
  padding: 0 4.5% !important;
  border-radius: unset !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #c4c4c4;
  border-top: 1px solid #c4c4c4;
}

.post-icon{
  transform: translateY(3px);
  margin-right: 5px
}

.tox .tox-sidebar-wrap{
  width: 70%;
  margin: 0 auto;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.tox .tox-editor-container{
  padding-bottom: 0px;
}

.tox-tinymce{
  height:75% !important;
  border:none !important;
}

.tox .tox-statusbar{
  display:none !important;
}

.tox .tox-menubar{
  padding: 0 5% 0 5% !important;
}

.tox .tox-menubar+.tox-toolbar, .tox .tox-menubar+.tox-toolbar-overlord .tox-toolbar__primary{
  padding: 0 5% !important;
}